*,
*::after,
*::before {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}



.container {
  padding: 0px 0px 5% 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.tablaBotones {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-height: 100%;
  align-items: center;
  justify-content: space-around;
}
.tabla {
  width: 100%;
  height: 400px;
  overflow: auto;
}

h1 {
  padding: 0% 10% 5% 10%;
  font-size: 25rem;
  text-align: center;
}
.textArea {
  max-width: 45%;
  height: 100%;
  font-size: 1rem;
}
.container > button {
  margin-top: 30px;

  font-size: 1rem;
}
#table > th {
  padding: 80px;
}
